<div>
	<form id="filter" accept-charset="UTF-8" action="/home/" method="get">

        <label for="startDate">Start date:</label>
        <input type="date" id="startDate" name="startDate" value="$filterStartDate">
            <br>

        <label for="startDate">End date:</label>
        <input type="date" id="endDate" name="endDate" value="$filterEndDate">
            <br>

        <label for="assignee">Assignee:</label>
        <select id="assignee" name="assignee">
            <option value="all" #if( $filterAssignee == "all" || $filterAssignee == "" ) selected #end > -= All assignees =- </option>
            #foreach($assignee in $assignees)
            <option value="$assignee" #if( $assignee == $filterAssignee ) selected #end >$assignee</option>
            #end
        </select>

        <div class="form-actions">
            <input type="submit" id="filter" value="find" />
        </div>

    </form>
</div>
<div>
    <table id="tasks" border="1">
        <tr>
            <th>Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Assignee</th>
            <th>Summary</th>
        </tr>
        #foreach($task in $tasks)
        <tr>
            <td>$task.id</td>
            <td>$task.startDate</td>
            <td>$task.endDate</td>
            <td>$task.assignee</td>
            <td>$task.summary</td>
        </tr>
        #end
    </table>
</div>
