<div>
	<form id="filter" accept-charset="UTF-8" action="/home" method="get">

        <!-- period -->
        <label for="period">Period:</label>
        <select id="period">
            <option value="last-q">Last Quarter</option>
            <option value="last-m">Last Month</option>
            <option value="last-w">Last Week</option>
            <option value="cur-q">Current Quarter to Date</option>
            <option value="cur-m">Current Month to Date</option>
            <option value="cur-w">Current Week to Date</option>
        </select>
        <br>

        <!-- start date -->
        <label for="startDate">Start date:</label>
        <input type="date" id="startDate" name="startDate" value="$filterStartDate">
        <br>

        <!-- end date -->
        <label for="startDate">End date:</label>
        <input type="date" id="endDate" name="endDate" value="$filterEndDate">
        <br>

        <!-- assignee -->
        <label for="assignee">Assignee:</label>
        <select id="assignee" name="assignee">
            <option value="all" #if( $filterAssignee == "all" || $filterAssignee == "" ) selected #end > -= All assignees =- </option>
            #foreach($assignee in $assignees)
            <option value="$assignee" #if( $assignee == $filterAssignee ) selected #end >$assignee</option>
            #end
        </select>

        <div class="form-actions">
            <input type="submit" id="filter" value="find" />
        </div>

    </form>

    <br>

    <form id="newTask" accept-charset="UTF-8" action="/newTask" method="get">
        <div class="form-actions">
            <input type="submit" id="newTask" value="new task" />
        </div>
    </form>

</div>
<div>
    <table id="tasks" border="1">
        <tr>
            <th>Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Assignee</th>
            <th>Summary</th>
        </tr>
        #foreach($task in $tasks)
        <tr>
            <td>$task.id</td>
            <td>$task.startDate</td>
            <td>$task.endDate</td>
            <td>$task.assignee</td>
            <td>$task.summary</td>
        </tr>
        #end
    </table>
</div>
