<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>STrello - simple task manager</title>  
	</head>

	<body>
	
		<div class="header">
			#parse("/WEB-INF/velocity/parts/header.vm")
		</div>
	
	  	<div class="content">
	    	$screen_content
	  	</div>
	  
	  	<div class="footer">
	    	#parse("/WEB-INF/velocity/parts/footer.vm")
	  	</div>
	
	</body>

</html>
